/* testing out wireframes and basic css*/
/* Made a root for colors */
:root {
    --darkgray: #333;
    --lightblue: #209CEE;
    --gold: #FA5;
}

ul {
    list-style-type: none;
    height: 50px;
    /* margin: 0; */
    padding: 0;
    overflow: hidden;
    background-color: var(--darkgray);

}

header {
    background-color
}

.header {
    color: var(--darkgray);
    background-color: var(--lightblue);
    ;
}

li {
    float: right;
    margin: 0 10px;
    color: var(--gold);
}

.name {
    flex: row
}

.buttons {
    font-family
}


.article {
    border: solid #000
}