/* testing out wireframes and basic css*/
/* Made a root for colors */
:root {
    --darkgray: #333;
    --lightblue: #209CEE;
    --gold: #FA5;
    --bground: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--darkgray);
    height: 100%;
    width: 100%;
    padding: 20px 0;
}

.header {
    width: 100%
}


.box {
    background-color: var(--lightblue);
    width: fit-content
}

.name {
    padding-left: 40px;
    padding-right: 20px;
    font-size: 50px;
    color: var(--darkgray);
}

/* .header {
    color: var(--darkgray);
    background-color: var(--lightblue);
    width: 100%;
    height: 50px;
} */

ol {
    display: flex;
}


.nav-link {
    /* float: right; */
    font-size: 25px;
    color: var(--lightblue);
    /* text-decoration: underline;
    text-underline-offset: 5px; */
    padding-right: 15px;
    display: inline-block;
    background: none;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    /* padding: to make button fill in */
}

.nav-link:hover {
    color: var(--darkgray);
    background-color: var(--lightblue);
}

.nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: var(--lightblue);
    z-index: -1;
    transition: 0.8s;
}

.herodiv {
    display: flex;
}

.heroself {
    height: 432px;
    width: 432px;
}

.hero {
    height: 432px;
    width: 100%;
    /* margin-bottom: 25px; */
    /* background-image: url(https://i.imgur.com/jt0CaSD.jpg);
/* background-size: cover;
    background-position: center; */
}

*/ .content {
    display: flex;
    flex-direction: column;
    flex-basis: auto;


}

.article {
    display: flex;
    margin: 25px;
}

.article div {
    width: 25%;
    text-align: right;
}

.article article {
    width: 75%;
}

.article p {
    font-family: Baskerville;
    font-size: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.left {

    font-size: 50px;
    color: var(--darkgray);
    padding-right: 100px;
    border-right: 5px solid var(--darkgray)
        /* border-right: 3px solid black;
    border-style: ; */
}

.right {
    display: flex;
    color: var(--darkgray);
}



/* -------------- WORKS --------------  */
.containers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


.main-container {
    /* flex-shrink: 0; */
    /* height: 300px; */
    border: 30px outset var(--lightblue);
}

/* .works-fb-container {
    border: 30px outset var(--lightblue);
} */

.BigImgBox {
    position: absolute;
    background-color: var(--lightblue);
    bottom: 90px;
    padding: 10px;
    width: 20%;
}




.row1 {
    display: flex;
    justify-content: space-between;

    width: 100%
}

.SmallBoxImage {

    position: absolute;
    background-color: var(--lightblue);
    width: 25%;
    bottom: 45px;
    bottom: 20px;
    padding: 10px;

}

.row2 {
    display: flex;
    justify-content: space-between;

    width: 100%
}

/* .work {
    flex-grow: 1; 
    background-color: var(--bground);
    width: 100%;
    margin: 10%;
    border: 5px solid var(--lightblue);
} */

.workphoto {
    height: 500px;
    width: 500px;
    margin: 10px 10px;
    border: 30px outset var(--lightblue);
    cursor: pointer;
    transition: 0.8s;
}

/* ---------------------------- FOOTER ----------------------------  */

.contact {
    width: 90%;
    color: var(--darkgray);
    padding: 0 50px;
    padding-left: 175px;
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: space-between;


}

.footlinks {
    font-family: Open Sans;
    font-size: 25px;
    color: var(--darkgray);
    padding-right: 15px;
    display: inline-block;
    background: none;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    line-height: normal;

}

/* ---------------------------- HOVER EFFECTS ----------------------------  */

.workphotoBig:hover {
    filter: blur(4px);
    transition: 0.8s;
}

.workphoto:hover {
    filter: blur(4px);
    transition: 0.8s;
}

.footlinks:hover {
    color: var(--lightblue);
    transition: .5s;
}